<div class="ticket container mt-4 p-4 border container-width">
        <h1 class="text-center">Ticket de Compra</h1>
        <p><strong>Código:</strong> {{code}}</p>
        <p><strong>Fecha de Compra:</strong> {{purchase_datetime}}</p>
        <p><strong>Comprador:</strong> {{purchaser}}</p>
        <hr>
        <div class="products">
            <h2 class="text-center">Productos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Importe</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each products}}
                    <tr>
                        <td>{{quantity}}</td>
                        <td>{{title}}</td>
                        <td>${{price}}</td>
                        <td>${{import}}</td>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
        <hr>
        <p><strong>Total:</strong> ${{amount}}</p>
        <div class="qr-code text-center">
            <h4>Escanea el Código QR</h4>
            <img src="{{qr_code}}" alt="QR Code" class="img-fluid" >
        </div>
    </div>